*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CustomPoppinsFont";
    src: url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: "CustomPoppinsFont";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "CustomPoppinsFont";
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: black;
    font-style: normal;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    font-family: 'CustomPoppinsFont';
}
.wrapper .inner-wrapper{
    width: 50%;
    height: 70%;
    border-radius: 20px 20px 150px 20px;
    background-color: white;
    border: 2px solid rgba(161, 161, 161, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.wrapper .inner-wrapper .sub {
    width: 85%;
    height: 60vh;
    padding: 10px;
}
.wrapper .inner-wrapper .sub form{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
}
.wrapper .inner-wrapper .sub form span{
    width: 24%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.wrapper .inner-wrapper .sub form span label{
    color: hsl(0, 1%, 44%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}
.wrapper .inner-wrapper .sub form span input{
    border: 0.5px solid hsl(0, 0%, 86%);
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
}

.wrapper .inner-wrapper .sub .arrow{
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper .inner-wrapper .sub .arrow hr{
    border: 0.1px solid hsl(0, 0%, 86%);
    width: 90%;
    height: 0.1px;
    background-color: hsl(0, 0%, 86%);
}
.wrapper .inner-wrapper .sub .arrow img{
    width: 40px;
    padding: 10px;
    border-radius: 100px;
    background-color: hsl(259, 100%, 65%);
}

.wrapper .inner-wrapper .sub .birthday-result{
    width: 100%;
}
.wrapper .inner-wrapper .sub .birthday-result span{
    display: flex;
    gap: 10px;
}
.wrapper .inner-wrapper .sub .birthday-result span p{
    font-size: 75px;
    letter-spacing: 2px;
}
.wrapper .inner-wrapper .sub .birthday-result span p:first-child{
    color: hsl(259, 100%, 65%);
}

@media (min-width: 900px) and (max-width: 1100px) {
    .wrapper .inner-wrapper {
        width: 60%;
    }

    .wrapper .inner-wrapper .sub .birthday-result span p {
            font-size: 70px;
        }
}

@media (min-width: 700px) and (max-width: 899px) {
    .wrapper .inner-wrapper {
        width: 75%;
    }

    .wrapper .inner-wrapper .sub
        {
            height: fit-content;
        }
    .wrapper .inner-wrapper .sub .birthday-result span p {
        font-size: 67px;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .wrapper .inner-wrapper {
        width: 85%;
    }
    .wrapper .inner-wrapper .sub{
        width: 90%;
    }

    .wrapper .inner-wrapper .sub .birthday-result span p {
        font-size: 60px;
    }
}

@media (min-width: 360px) and (max-width: 499px) {
    .wrapper .inner-wrapper {
        width: 90%;
        height: 65%;
    }
    .wrapper .inner-wrapper .sub{
        height: fit-content;
    }
    .wrapper .inner-wrapper .sub .birthday-result span p {
        font-size: 45px;
    }
}
@media (min-width: 300px) and (max-width: 359px) {
    .wrapper .inner-wrapper {
        width: 90%;
        height: 80%;
    }

    .wrapper .inner-wrapper .sub {
        height: 65vh;
    }

    .wrapper .inner-wrapper .sub .birthday-result span p {
        font-size: 36px;
    }
}